.pageTitle {
   background-color: rgb(97, 97, 97);
   color: whitesmoke; 
   text-align: center;
}

.container-fluid {
    background-color: gray; 
}

.leftSide {
    background-color: cadetblue;
    height: 600px;
}

.searchTitle {
    text-align: left;
}

.listArea {
    background-color: gray;
    height: 400px;

}

td {
    background-color: whitesmoke;
}

.rightSide {
    background-color: cadetblue;
    height: 600px;
}

.weatherArea {
    height: 300px;
    background-color: rgb(187, 185, 185);
}

.forecastTitle {
    background-color: gray;
    height: 30px;
}

.cardArea {
    justify-content: center;
    margin-top: 10px;
}

.card {
    height: 120px;
}

